/*
  Dialog related styles.
*/

dialog {
  border: none;
  max-width: 30em;
  min-width: 20em;
  border-radius: 0.625em;
  padding: 0 2em 2em 2em;

  display: flex;
  flex-direction: column;

  /* Starting style, wait when CSS will support starting styles. */
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
  contain: layout;

  transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.35, 1.5),
    transform 0.25s cubic-bezier(0.25, 0.1, 0.35, 1.5);
}

dialog[open] {
  contain: none;
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}

dialog.-closing {
  opacity: 0;
  transform: scale(0.7);
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(4px) brightness(0.77) contrast(0.77); /* safari */
  backdrop-filter: blur(4px) brightness(0.77) contrast(0.77);
  background-color: rgba(0, 0, 0, 0.44);
  opacity: 0;
  transition: opacity 0.15s ease; /* by some reason var() doesnt work here in pseudo element */
}

dialog[open]::backdrop {
  opacity: 1;
}

dialog[open].-closing::backdrop {
  opacity: 0;
}

dialog h2 {
  margin: 0;
}
dialog .form {
  display: flex;
  justify-content: flex-end;
  margin: 0 -2em;
  order: -1;
}
dialog .form button {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0.2em 0.2em 0 0;

  font-size: 2em;

  background: none;
  cursor: pointer;
}

dialog .form button:hover {
  background-color: #efefef;
}

dialog .switches {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (prefers-reduced-motion) {
  .dialog,
  .dialog::backdrop {
    transition: none;
  }
}
